body, html{ position:relative; width:100%; height:100%; -webkit-background-color:rgba(0,0,0,0.5); background-color:rgba(0,0,0,0.5);   margin:0; padding:0; font:normal 20px/20px microsoft yahei; overflow:hidden;}
ul,li{ margin:0; padding:0; list-style:none;}
img{ width:100%; }
.bold{ font-weight:bold}

#container {
    position: relative;
    width: 640px;
    height: 1136px;
    margin: 0 auto;
    overflow: hidden;
}
#fallingContainer 
{
    position: absolute;
    width: 100%;
    height: 100%; z-index:2;
}
.eggs{ position:absolute; width:81%; top:42%; left:9%;}
.eggs li{ float:left; width:29.33%; text-align:center; padding:0 2%; display:none; tap-highlight-color: rgba(0,0,0,0);  
focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0); }
.eggs li img{tap-highlight-color: rgba(0,0,0,0); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0); }
.eggs li.pos-relative{ position:relative;}
.egg-brake{ position:absolute; top:-112%; width:100% !important; padding:0 !important; z-index:1; display:none;}

.dsn{ display:none;}
.opacity0{ opacity:0;}
.gift{ position:absolute; top:12%; text-align:center; color:#fff; z-index:9999;}
.gift .gift-img{ position:relative; width:40%; margin:15% auto 0; text-align:center;}
.gift .gift-img span.gift-num{ display:block; position:absolute; top:50%; left:50%; color:#fff; z-index:2;}
.gift .gift-img .pic{ margin:0 auto; position:relative; z-index:1;}
.gift .gift-img .pic .stars{ position:absolute; left:0px; top:-12%; z-index:3;}
.gift .gift-img .pic .gf{ position:relative; width:90%; z-index:2;}
.gift .gift-img .pic .lightbg{ position:absolute; width: 180%; left: -42%; top: -23%; z-index:1;}
.orange{ color:#f29509;}
.t01{ display:block; font-weight:bold; font-size:32px; line-height:32px;}
.t02{ font-size:20px;}

.gift-btn{ margin:10% 0 0;}
.gift-btn input{ width:80%; padding:15px 0; background:#f29509; font-size:20px; font-family:microsoft yahei; color:#fff; text-align:center; border-radius:4px; border:none; outline:none; -webkit-appearance: none; cursor:pointer;}

.share-info{ margin:10% 0 0; text-align:center; line-height:120%}
.share-info li.share-btn{ margin-top:10%;}
.share-info li.share-btn a{ display:block; color:#fff; font-size:16px; width:30%; margin:0 auto;}
.share-info li.share-btn a img{ width:80%;}

.close-btn{ position:absolute; top:-10%; right:5%; border:1px solid #777981; color:#fff; font-size:14px; padding:5px 12px; border-radius:4px; cursor:pointer;}

.bggreen{ background:#3cb158;}
.tips{ position:relative; width:70%; margin:2% 15% 0; text-align:center;}
.tips .arrow{ position:absolute; left:50%; top:-4px; margin-left:-4px; width:8px; height:8px; background:#3cb158; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.tips input{ padding:5px 15px; font-size:12px; color:#fff; font-family:microsoft yahei; border-radius:4px; border:none; outline:none; -webkit-appearance: none; cursor:pointer;} 

.dl-btn{ width:80%; margin:5% auto 0; padding:8px 0; background:#f5f5f5; font-size:20px; font-family:microsoft yahei; text-align:center; border-radius:4px; border:none; outline:none; -webkit-appearance: none; cursor:pointer;}
.dl-btn a{ color:#232736;}
.f02{ font-size:14px; color:#8e8f94; margin-top:2px;}


@media only screen and (min-width:640px) {
#container, #fallingContainer, .gift{ width:640px; height:1136px;}
.gift .gift-img span.gift-num{ font:bold 90px/50px Georgia, microsoft yahei, "Times New Roman", Times, serif;}
.gift .gift-img span.gift-num .f01{ font:normal 30px/30px Georgia, microsoft yahei, "Times New Roman", Times, serif;}
}

@media only screen and (max-width:639px) {
#container, #fallingContainer, .gift{ width:100%; height:100%;}
.gift .gift-img span.gift-num{ font:bold 70px/40px Georgia, microsoft yahei, "Times New Roman", Times, serif;}
.gift .gift-img span.gift-num .f01{ font:normal 22px/22px Georgia, microsoft yahei, "Times New Roman", Times, serif;}
.t01{ display:block; font-size:28px; line-height:28px;}
.t02{ font-size:16px;}
.gift .gift-img{ margin:60px auto 0;}
.gift-btn{ margin:60px 0 0;}
.gift-btn input{ padding:15px 0; font-size:20px;}
.tips .arrow{ top:0;} 
.tips input{ padding:2px 15px;}
.share-info li.bold{ font-size:18px}
.share-info li.share-btn{ margin-top:10%;}
.share-info li.share-btn a{ font-size:14px; width:20%;}
}

@media only screen and (max-width:479px) {
.gift .gift-img span.gift-num{ font:bold 40px/24px Georgia, microsoft yahei, "Times New Roman", Times, serif;}
.gift .gift-img span.gift-num .f01{ font:normal 16px/16px Georgia, microsoft yahei, "Times New Roman", Times, serif;}
.t01{ display:block; font-size:24px; line-height:24px;}
.t02{ font-size:16px;}
.gift .gift-img{ margin:30px auto 0;}
.gift-btn{ margin:30px 0 0;}
.gift-btn input{ padding:10px 0; font-size:16px;}
.dl-btn{ font-size:16px; padding:2px 0;}
.f02{ font-size:12px; margin-top:0;}
.share-info li.bold{ font-size:16px}
.share-info li.share-btn{ margin-top:5%;}
.share-info li.share-btn a{ font-size:12px; width:30%;}
}

@media only screen and (max-width:319px) {
.gift .gift-img span.gift-num{ font:bold 32px/20px Georgia, microsoft yahei, "Times New Roman", Times, serif;}
.gift .gift-img span.gift-num .f01{ font:normal 14px/14px Georgia, microsoft yahei, "Times New Roman", Times, serif;}
.t01{ display:block; font-size:20px; line-height:20px;}
.t02{ font-size:14px;}
}



.animated1s {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated2s {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated3s {
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated4s {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated5s {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated0s {
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  60% {
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }

  70% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }

  80% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
}



@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-animation-name: swing;
          animation-name: swing;
}


@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(1.35, 1.35, 1.35);
            transform: scale3d(1.35, 1.35, 1.35);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(1.35, 1.35, 1.35);
            transform: scale3d(1.35, 1.35, 1.35);
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}

@-webkit-keyframes imgzoomIn {
  0% {
    -webkit-transform: scale3d(0.2, 0.2, 0.2);
            transform: scale3d(0.2, 0.2, 0.2);
			  opacity: 0.2;
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
			  opacity: 1;
  }
}

@keyframes imgzoomIn {
  0% {
    -webkit-transform: scale3d(0.2, 0.2, 0.2);
            transform: scale3d(0.2, 0.2, 0.2);
			  opacity: 0.2;
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
			  opacity: 1;
  }
}

.imgzoomIn {
  -webkit-animation-name: imgzoomIn;
          animation-name: imgzoomIn;
}


@-webkit-keyframes rotateOut01 {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  
  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 13deg);
            transform: rotate3d(0, 0, 1, 13deg);
  }
}

@keyframes rotateOut01 {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  
  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 13deg);
            transform: rotate3d(0, 0, 1, 13deg);
  }
}

.rotateOut01 {
  -webkit-animation-name: rotateOut01;
          animation-name: rotateOut01;
	-webkit-animation-timing-function: linear;
			animation-timing-function: linear;
}

@-webkit-keyframes pulse01 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }

  60% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
            transform: scale3d(0.95, 0.95, 0.95);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse01 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }

  60% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
            transform: scale3d(0.95, 0.95, 0.95);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.pulse01 {
  -webkit-animation-name: pulse01;
          animation-name: pulse01;
}

p {
  margin: 15px;
}
a
{
  color: #5C090A;
  text-decoration: none;
}
em 
{
    font-weight: bold;
    font-style: normal;
}
.phone {
  font-size: 150%;
  vertical-align: middle;
}
#fallingContainer > div 
{
    position: absolute;

    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-direction: normal, normal;
    -webkit-animation-timing-function: linear, ease-in;
}
.RedPacket{ width:60px;}
.ColourBar{ width:20px;}
.Yuanbao{ width:45px;}
#fallingContainer > div > img {
     position: absolute;
     width: 100%;

     -webkit-animation-iteration-count: infinite;
     -webkit-animation-direction: alternate;
     -webkit-animation-timing-function: ease-in-out;
     -webkit-transform-origin: 50% -100%;
}

@-webkit-keyframes fade
{
    0%   { opacity: 1; }
    95%  { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes drop
{
    0%   { -webkit-transform: translate(0px, -50px); }
    100% { -webkit-transform: translate(0px, 650px); }
}
@-webkit-keyframes clockwiseSpin
{
    0%   { -webkit-transform: rotate(-50deg); }
    100% { -webkit-transform: rotate(50deg); }
}
@-webkit-keyframes counterclockwiseSpinAndFlip 
{
    0%   { -webkit-transform: scale(-1, 1) rotate(50deg); }
    100% { -webkit-transform: scale(-1, 1) rotate(-50deg); }
}



@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 600%, 0);
            transform: translate3d(0, 600%, 0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 600%, 0);
            transform: translate3d(0, 600%, 0);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
          animation-name: fadeOutDown;
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(1.35, 1.35, 1.35);
            transform: scale3d(1.35, 1.35, 1.35);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(1.35, 1.35, 1.35);
            transform: scale3d(1.35, 1.35, 1.35);
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
}